* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: Inter;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: #0000ff10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid #555555;
  border-radius: 10px;
  padding: 40px 20px 40px 20px;
  margin-top: 10px;
}

.win-message {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reset-btn {
  font-size: 15px;
  color: white;
  background: linear-gradient( 45deg, #7979ff, #ff75ff);
  border: none;
  border-radius: 25px;
  width: 100px;
  height: 35px;
  transition: 0.35s;
  cursor: pointer;
}

.reset-btn:hover {
  transform: scale( 0.9 );
}

.card-grid {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat( 4, 150px );
  gap: 10px;
}

.card {
  width: 150px;
  height: 150px;
  border: 1px solid #555555;
  border-radius: 10px;
  background-color: #0000ff10;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  transition: 0.25s;
}

.card:hover {
  transform: scale( 0.90 );
}

.card.flipped .frontside {
  display: none;
}
.card.flipped .backside {
  display: block;
}

.card .frontside {
  display: block;
}
.card .backside {
  display: none;
}

.card.matched {
  background-color: #00ff0010;
  border: 1px solid #00ff0050;
  box-shadow: 0 0 10px #00ff0050,
              inset 0 0 5px #00ff0050;
}

.isred {
  background-color: #ff000010;
  border: 1px solid #ff000050;
  box-shadow: 0 0 10px #ff000050,
              inset 0 0 10px #ff000050;
}